.Day{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all 0.2s ease;

    border: none;
    background: none;
    padding: 0;
    margin: 0;

    &:hover{
        background-color: #e8f4ff !important;
        cursor: pointer;
    }

    &:focus {
        outline: 1px solid #203b64;
        border-color: #203b64;
        box-shadow: 0 0 0 2px rgba(0, 102, 255, 0.1);
    }
    &.isOutOfMonth{
        color: #bbb;
        pointer-events: none;
    }

    &.selected{
        background-color: #e3f2fd;
        font-weight: 600;
    }

    &.leftHalfCircle {
        background-color: #e3f2fd;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    &.rightHalfCircle {
        background-color: #e3f2fd;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

    &.mainControl{
        border: 2px solid #1976d2;
        // border-radius: 50%;
    }

}

.header{
    .DayName{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        font-weight: 600;
        font-size: 13px;
    }
}