.container {
    position: relative;
    width: 100%;

  
  .inputWrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    .input {
        width: 200px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.5;
        height: 30px;
        background: transparent;
        position: relative;
        z-index: 2;
      }

      .autocomplete {
        width: 200px;
        padding: 8px;
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        justify-content: left;
        align-items: center;
        color: grey;
        background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
  }
  

}