body {
  font-family: sans-serif;
}

.star-icon {
  --icon-size: 32px;

  cursor: pointer;
  height: var(--icon-size);
  width: var(--icon-size);
}

.star-icon-filled {
  fill: yellow;
}

.cell{
  border: 1px solid black;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellRow{
  display: flex;
}

.selected.cell{
  background-color: rgb(119, 172, 214);
}

.draggableArea{
  width: 50vw;
  margin: auto;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 227, 151);
}


#selectedArea{
  position: absolute;
  border: 3px dashed grey;
  left: 0;
  top: 10px;
  bottom: 40px;
  right: 40px;
}
